---
import { getAllBlogPosts, type BlogPost } from "@lib/blogs";
import { getImage, Image } from "astro:assets";
import { SEO } from "astro-seo";
import dayjs from "dayjs";
import isNil from "lodash/isNil";
import isEmpty from "lodash/isEmpty";
import { marked } from "marked";
import Layout from "@layouts/Layout.astro";
import BlogPostStructuredData from "@components/seo/BlogPostStructuredData.astro";

import "@styles/pages/blog.css";

interface Props {
  blog: BlogPost;
}

export const prerender = true;
export async function getStaticPaths() {
  const blogPosts = await getAllBlogPosts();
  return blogPosts.map((blog: any) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}
const { blog } = Astro.props;
const content = await marked(blog.content);
const hasCaption = !isNil(blog.caption) && !isEmpty(blog.caption);
const thumbnail = await getImage({
  src: blog.image,
  width: 400,
  inferSize: true,
  quality: 40,
});
const image = await getImage({
  src: blog.image,
  inferSize: true,
  quality: 70,
});
---

<Layout title={blog.title}>
  <BlogPostStructuredData
    slot="structured-data"
    headline={blog.title}
    imageURL={blog.image}
    imageCaption={blog.caption || `Image cover for ${blog.title}`}
    description={blog.description}
    datePublished={blog.date}
  />
  <SEO
    slot="seo"
    description={blog.description}
    openGraph={{
      basic: {
        title: blog.title,
        type: "article",
        image: thumbnail.src,
        url: `https://lakzian.com/blogs/${blog.slug}`,
      },
    }}
  />
  <div class="w-full px-4">
    <div class="mt-5 md:mt-16 mb-10 md:mb-10">
      <div id="blog-cover-image-js" class="flex justify-center m-auto">
        <a
          href={image.src}
          data-pswp-src={image.src}
          data-pswp-width={image.options.width}
          data-pswp-height={image.options.height}
          data-cropped="true"
          class="cover-grid relative bg-base-300 rounded-2xl border-neutral border md:max-w-4xl shadow-2xl overflow-hidden"
        >
          <img
            src={image.src}
            alt={blog.title}
            width={image.options.width}
            height={image.options.height}
            loading="eager"
            class="object-cover object-center !m-0 aspect-video block rounded-2xl shadow-2xl"
          />
          {
            hasCaption && (
              <span
                class="badge select-none shadow-xl truncate  max-w-lg block m-2"
                title={blog.caption}
              >
                {blog.caption}
              </span>
            )
          }
        </a>
      </div>
    </div>

    <article class="prose mx-auto">
      <h1 class="md:!text-5xl md:!leading-[1.2] font-medium mb-0">
        {blog.title}
      </h1>
      <span class="divider m-0"></span>
      <time>{dayjs(blog.date).format("MMMM DD, YYYY")}</time>
      <p class="lead">{blog.description}</p>
      <div set:html={content} />
    </article>
    <span class="h-52"></span>
  </div>
</Layout>

<!-- register photo swipe library -->
<script>
  import "photoswipe/style.css";
  import isEmpty from "lodash/isEmpty";
  import pswpModule from "photoswipe";
  import PhotoSwipe from "photoswipe/lightbox";

  const lightbox = new PhotoSwipe({
    pswpModule,
    children: "a",
    gallery: "#blog-cover-image-js",
  });

  lightbox.on("uiRegister", function () {
    const badge = document.querySelector("#blog-cover-image-js span.badge");
    if (!badge) return;
    const caption = badge.innerHTML?.trim();
    if (isEmpty(caption)) return;

    // register caption element
    lightbox.pswp?.ui?.registerElement({
      name: "blog-cover-image-caption",
      className: "blog-cover-image-caption",
      isButton: false,
      appendTo: "root",
      html: caption,
    });
  });

  lightbox.init();
</script>

<style>
  .cover-grid {
    display: grid;
  }

  .cover-grid img {
    grid-area: 1 / 2;
  }
  .cover-grid span.badge {
    grid-area: 1 / 2;
    align-self: end;
  }
</style>
