---
import { Image } from "astro:assets";
import { SEO } from "astro-seo";
import dayjs from "dayjs";
import isEmpty from "lodash/isEmpty";
import isNil from "lodash/isNil";

import { getAllBlogPosts } from "@lib/blogs";
import Layout from "@layouts/Layout.astro";
import ArrowRight from "@components/ui/icons/arrow-right-line.svg";
import Hero from "@components/ui/Hero.astro";
import HeroImage from "@assets/blogs-page-hero.webp";

export const prerender = true;
const blogs = await getAllBlogPosts();

const [latestBlog, ...restBlog] = blogs;
---

<Layout title="My Brain Dumps 💩">
  <SEO
    slot="seo"
    description="This is a blog where Danyal Lakzian dumps his brain farts. The more ridiculous, the better."
    openGraph={{
      basic: {
        title: "My Brain Dumps 💩",
        type: "website",
        image: HeroImage.src,
        url: "https://lakzian.com/blogs",
      },
    }}
  />
  <link slot="head" rel="preload" href={HeroImage.src} as="image" />

  <Hero
    image={HeroImage}
    heading="Welcome to my brain dumps 💩"
    subHeading="This is a blog where I dump my brain farts. The more ridiculous, the better."
  />

  <section>
    <div class="max-w-4xl w-full mx-auto px-4">
      <h2 class="font-bold text-sm mt-5 mb-3">Newest Dump</h2>

      {
        isNil(latestBlog) ? (
          <div class="card md:card-side bg-base-200 border-neutral border shadow rounded-xl transition-shadow">
            <div class="card-body items-center justify-center p-2 h-52 overflow-hidden w-max">
              <h3 class="card-title font-normal">No new Dumps</h3>
              <span class="font-body text-sm">
                Don't worry, we're not out of ideas yet! More brain farts coming
                soon.
              </span>
            </div>
          </div>
        ) : (
          <a
            href={`/blogs/${latestBlog.slug}`}
            class="card md:card-side border-neutral border hover:shadow-lg rounded-xl cursor-pointer transition-shadow"
          >
            <figure class="p-2 shrink-0 md:w-96">
              <Image
                src={latestBlog.image}
                alt={latestBlog.title}
                width={400}
                height={200}
                quality={40}
                loading="eager"
                class="rounded-md object-cover object-center !m-0 aspect-video block bg-base-300 w-full"
              />
            </figure>
            <div class="card-body p-2 h-52 overflow-hidden">
              <h2 class="card-title font-normal">{latestBlog.title}</h2>
              <span class="text-xs">
                {dayjs(latestBlog.date).format("MMMM DD, YYYY")}
              </span>
              <p class="font-body text-sm">{latestBlog.description}</p>
              <div class="card-actions justify-end">
                <ArrowRight size={20} />
              </div>
            </div>
          </a>
        )
      }
    </div>
  </section>

  <section>
    <div class="max-w-4xl w-full mx-auto px-4">
      <h2 class="font-bold text-sm mt-5 mb-3">Other Dumps</h2>

      <div class="grid md:grid-cols-2 gap-4 min-h-52">
        {
          isEmpty(restBlog) ? (
            <div class="card col-span-2 bg-base-200 rounded-xl items-center justify-center">
              <div class="card-body justify-center p-2 h-52 overflow-hidden w-max">
                <h3 class="card-title font-normal">I'll Keep it Coming</h3>
                <span class="font-body text-sm">Brain Farts in the Making</span>
              </div>
            </div>
          ) : (
            restBlog.map((blog) => (
              <a
                href={`/blogs/${blog.slug}`}
                class="card border hover:shadow-lg rounded-xl cursor-pointer transition-shadow"
              >
                <figure class="p-2 shrink-0">
                  <Image
                    src={blog.image}
                    alt={blog.title}
                    width={400}
                    height={200}
                    quality={40}
                    loading="eager"
                    class="rounded-md object-cover object-center !m-0 aspect-video block bg-base-300 w-full"
                  />
                </figure>

                <div class="card-body p-2 h-52 overflow-hidden">
                  <h2 class="card-title font-normal">{blog.title}</h2>
                  <span class="text-xs">
                    {dayjs(blog.date).format("MMMM DD, YYYY")}
                  </span>
                  <p class="font-body text-sm">{blog.description}</p>
                  <div class="card-actions justify-end">
                    <ArrowRight size={20} />
                  </div>
                </div>
              </a>
            ))
          )
        }
      </div>
    </div>
  </section>

  <section class="h-52"></section>
</Layout>
