---
import { Image } from "astro:assets";
import { SEO } from "astro-seo";
import chunk from "lodash/chunk";
import Layout from "@layouts/Layout.astro";
import { getAllAlbums, getAlbumImages } from "@lib/albums";
import Hero from "@components/ui/Hero.astro";
import ImageGalleryStructuredData from "@components/seo/ImageGalleryStructuredData.astro";

export const prerender = true;
export async function getStaticPaths() {
  const albums = await getAllAlbums();

  const paths = albums.map((album) => {
    return {
      params: { slug: album.id },
      props: { album },
    };
  });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
const imageURLs = images.map((image) => image.src);
const chunkSize = Math.ceil(images.length / 4);
const imagesChunks = chunk(images, chunkSize);
---

<Layout title={album.title}>
  <ImageGalleryStructuredData
    slot="structured-data"
    headline={album.title}
    description={album.description}
    datePublished={album.date}
    imageURLs={imageURLs}
    location={album.location}
    keywords={[]}
  />
  <SEO
    slot="seo"
    description={album.description}
    openGraph={{
      basic: {
        title: album.title,
        type: "website",
        image: album.cover,
        url: `https://lakzian.com/albums/${album.id}`,
      },
    }}
  />

  <Hero
    image={album.cover}
    heading={album.title}
    subHeading={album.description}
  />

  <section>
    <div class="max-w-4xl w-full mx-auto p-4">
      <div
        id="album-cover-image-js"
        class="grid grid-cols-2 md:grid-cols-4 gap-4"
      >
        {
          imagesChunks.flatMap((images) => {
            return (
              <div class="grid gap-4">
                {images.map((image, i) => (
                  <a
                    href={image.src}
                    data-pswp-src={image.src}
                    data-pswp-width={image.width}
                    data-pswp-height={image.height}
                    data-cropped="true"
                    aria-label={image.src}
                    class="relative bg-base-300 rounded-2xl border-neutral border overflow-hidden"
                  >
                    <Image
                      src={image.src}
                      class="rounded object-cover object-center !m-0 h-full"
                      alt=""
                      width={image.width}
                      height={image.height}
                      quality={70}
                      loading={i <= 1 ? "eager" : "lazy"}
                    />
                  </a>
                ))}
              </div>
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>

<!-- register photo swipe library -->
<script>
  import "photoswipe/style.css";
  import pswpModule from "photoswipe";
  import PhotoSwipe from "photoswipe/lightbox";

  const lightbox = new PhotoSwipe({
    pswpModule,
    children: "a",
    gallery: "#album-cover-image-js",
  });

  lightbox.init();
</script>
