---
import MenuLine from "@components/ui/icons/menu-line.svg";
import CloseLargeLine from "@components/ui/icons/close-large-line.svg";
import InstagramLogo from "@components/ui/icons/instagram-line.svg";
import LinkedInLogo from "@components/ui/icons/linkedin-line.svg";
import GithubLogo from "@components/ui/icons/github-line.svg";
import RobotLineIcon from "@components/ui/icons/robot-3-line.svg";

const { title } = Astro.props;

const navBarTitle = "Hello 💩";
const navItems = [
  { label: "Home", path: "/", emoji: "🏡" },
  { label: "About", path: "/about", emoji: "👨‍💻" },
];
---

<!doctype html>
<html class="m-0" lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico?" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CVarela+Round:400%7COpen+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CRubik:300,300italic,regular,italic,500,500italic,700,700italic,900,900italic%7CBarlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
      media="all"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title ? `${title} - ` : "" || ""}My Brain Dump 💩`}</title>
  </head>
  <body class="h-screen w-full">
    <div class="drawer h-full">
      <input id="app-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div
          class="navbar bg-base-300 w-full sticky top-0 z-10 border-neutral border-b"
        >
          <div class="flex-none lg:hidden">
            <label
              for="app-drawer"
              aria-label="open sidebar"
              class="btn btn-square btn-ghost"
            >
              <MenuLine size={24} />
            </label>
          </div>
          <div class="flex-1 text-lg font-medium mx-2 px-2">
            <a href="/">{navBarTitle}</a>
          </div>
          <div class="hidden flex-none lg:block">
            <ul class="menu menu-lg menu-horizontal">
              <!-- Navbar menu content here -->
              {
                navItems.reverse().map((item) => (
                  <li>
                    <a href={item.path}>
                      <span>{item.emoji}</span>
                      {item.label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <!-- Page content here -->
        <main class="h-full">
          <slot />
        </main>

        <footer class="footer bg-neutral text-neutral-content items-center p-4">
          <aside class="grid-flow-col items-center">
            <RobotLineIcon size={46} />
            <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
          </aside>
          <nav
            class="grid-flow-col gap-4 md:place-self-center md:justify-self-end"
          >
            <a
              class="link hover:text-primary"
              href="https://www.instagram.com/talouchy_art"
              target="_blank"
            >
              <InstagramLogo size={30} />
            </a>
            <a
              class="link hover:text-primary"
              href="https://www.linkedin.com/in/danyallakzian/"
              target="_blank"
            >
              <LinkedInLogo size={30} />
            </a>
            <a
              class="link hover:text-primary"
              href="https://github.com/setTimeoutInfinity"
              target="_blank"
            >
              <GithubLogo size={30} />
            </a>
          </nav>
        </footer>
      </div>
      <div class="drawer-side z-20">
        <label
          for="app-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"></label>

        <div class="bg-base-200 min-h-full w-80">
          <div
            class="flex items-center p-2 bg-base-300 border-neutral border-b"
          >
            <label
              for="app-drawer"
              aria-label="close sidebar"
              class="btn btn-square btn-ghost"
            >
              <CloseLargeLine size={24} />
            </label>
            <span class="flex-1 text-lg font-medium mx-2 px-2"
              >{navBarTitle}</span
            >
          </div>

          <ul class="menu menu-lg p-2">
            <!-- Sidebar content here -->
            {
              navItems.map((item) => (
                <li>
                  <a href={item.path}>
                    <span>{item.emoji}</span>
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
