---
import MenuLine from "@components/ui/icons/menu-line.svg";
import CloseLargeLine from "@components/ui/icons/close-large-line.svg";

const navBarTitle = "My Brain Dumps 💩";
const navItems = [
  { label: "Home", path: "/", emoji: "🏡" },
  { label: "Blogs", path: "/blogs", emoji: "📝" },
  { label: "Albums", path: "/albums", emoji: "📸" },
];
---

<div class="drawer h-full">
  <input id="app-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div
      class="navbar bg-base-300 w-full sticky top-0 z-20 border-neutral border-b"
    >
      <div class="flex-none lg:hidden">
        <label
          for="app-drawer"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <MenuLine size={24} />
          <span class="hidden">open drawer button</span>
        </label>
      </div>
      <div class="flex-1 text-lg font-medium mx-2 px-2">
        <a href="/">{navBarTitle}</a>
      </div>
      <div class="hidden flex-none lg:block">
        <ul class="menu menu-lg menu-horizontal">
          <!-- Navbar menu content here -->
          {
            [...navItems].reverse().map((item) => (
              <li>
                <a href={item.path}>
                  <span>{item.emoji}</span>
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <!-- Page content here -->
    <slot />
  </div>
  <div class="drawer-side z-20">
    <label for="app-drawer" aria-label="close sidebar" class="drawer-overlay">
      <span class="hidden">close drawer overlay</span></label
    >

    <div class="bg-base-200 min-h-full w-80">
      <div class="flex items-center p-2 bg-base-300 border-neutral border-b">
        <label
          for="app-drawer"
          aria-label="close sidebar"
          class="btn btn-square btn-ghost"
        >
          <CloseLargeLine size={24} />
          <span class="hidden">close drawer button</span>
        </label>
        <span class="flex-1 text-lg font-medium mx-2 px-2">{navBarTitle}</span>
      </div>

      <ul class="menu menu-lg p-2">
        <!-- Sidebar content here -->
        {
          navItems.map((item) => (
            <li>
              <a href={item.path}>
                <span>{item.emoji}</span>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
